.container {
  margin: auto;
  width: 100%;
  padding: 5rem 0 5rem 0;
  background-color: #ffcc00;
}
.about-us-container-two {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.about-us-each-image {
  width: 100%;
}
.about-us-each-description {
  padding-bottom: 1rem;
  font-size: 1.125rem;
}
.about-us-each-title-left {
  font-family: "MADE Evolve Sans Bold";
  font-size: 2rem;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.about-us-each-description-bold {
  font-family: "MADE Evolve Sans Bold";
}
.about-us-each-title-right {
  font-family: "MADE Evolve Sans Bold";
  font-size: 2rem;
  text-align: right;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aboutus-container {
  margin: auto;
}

.about-image-each {
  width: 100%;
  object-fit: fill;
}

.banner {
  text-align: center;
  color: white;
  font-family: "MADE Evolve Sans Bold";
  font-size: 1.85rem;
  padding: 2.5rem 0;
}

.about-us-map-column {
  float: left;
}

/* Clear floats after the columns */
.about-us-map-row:after {
  content: "";
  display: table;
  clear: both;
}
.about-us-map {
  margin: auto;
  width: 93%;
  padding-top: 5%;
}

.about-us-map-iframe {
  text-align: center;
  margin: auto;
  /* background-color: #c4c4c4; */
  width: 80%;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
}

.about-us-map-text {
  text-align: left;
  height: 100%;
  font-size: 2rem;
  font-family: "MADE Evolve Sans Bold";
}

.about-us-medpar-text {
  text-align: center;
  height: 100%;
  font-size: 2rem;
  font-family: "MADE Evolve Sans Bold";
  padding-bottom: 5%;
}

.about-us-doc-text {
  text-align: center;
  height: 100%;
  font-size: 2rem;
  font-family: "MADE Evolve Sans Bold";
  padding-bottom: 5%;
}

.map-left {
  width: 70%;
}

.map-right {
  margin: auto;
  width: 30%;
  padding-top: 8%;
}

.about-us-news {
  margin: auto;
  width: 85%;
  padding: 10px;
  padding-top: 5%;
}

.about-us-news-row::after {
  content: "";
  display: table;
  clear: both;
}

.about-us-news-column {
  float: left;
  width: 33.33%;
}

.about-us-news-medpar {
  border-radius: 10px;
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

.about-us-news-source {
  text-align: center;
  padding-top: 5%;
  font-size: 1.125rem;
  font-family: "MADE Evolve Sans Bold";
}

.about-us-documentation {
  margin: auto;
  width: 85%;
  padding: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.about-us-doc-row:after {
  content: "";
  display: table;
  clear: both;
}

.about-us-doc-column {
  float: left;
  width: 50%;
}

.about-us-doc-image-big {
  width: 92%;
  padding: 0% 2.5%;
  padding-right: 0%;
}

.about-us-doc-image-small {
  width: 95%;
  padding: 1% 0%;
  border-radius: 10px;
}

.about-us-doc-right-row:after {
  display: flex;
}

.about-us-doc-right-column {
  float: left;
  width: 50%;
}

@media screen and (max-width: 960px) {
  .about-us-each-title-right {
    text-align: left;
  }
  .about-us-map-column {
    width: 100%;
  }
  .about-us-map-text {
    text-align: center;
    height: 100%;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-family: "MADE Evolve Sans Bold";
  }
  .about-us-news-column {
    float: left;
    width: 100%;
    padding-bottom: 5%;
  }
  .about-us-doc-column {
    width: 100%;
  }
  .about-us-doc-right-column {
    width: 100%;
  }
  .about-us-doc-image-big {
    width: 98%;
    padding: 1% 1%;
  }
  .about-us-doc-image-small {
    width: 98%;
    padding: 1% 1%;
  }
  .contact-us-input-area {
    width: 100%;
  }
  .about-us-each-title-left {
    font-family: "MADE Evolve Sans Bold";
    font-size: 1.5rem;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .about-us-each-title-right {
    font-family: "MADE Evolve Sans Bold";
    font-size: 1.5rem;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .about-us-each-description {
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .about-us-medpar-text {
    text-align: center;
    height: 100%;
    font-size: 1.5rem;
    font-family: "MADE Evolve Sans Bold";
    padding-bottom: 5%;
  }
  .about-us-news-source {
    text-align: center;
    padding-top: 5%;
    font-size: 1rem;
    font-family: "MADE Evolve Sans Bold";
  }
  .about-us-doc-text {
    text-align: center;
    height: 100%;
    font-size: 1.5rem;
    font-family: "MADE Evolve Sans Bold";
    padding-bottom: 2rem;
  }
  .banner {
    text-align: center;
    color: white;
    font-family: "MADE Evolve Sans Bold";
    font-size: 1.5rem;
  }
}
