.container {
  margin: auto;
  width: 100%;
  padding: 2.5rem 0;
  background-color: #ffcc00;
}

.banner {
  text-align: center;
  color: white;
  font-family: "MADE Evolve Sans Bold";
  font-size: 1.85rem;
}

.contact-us-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.contact-us-row:after {
  content: "";
  display: table;
  clear: both;
}

.contact-us-container {
  background-color: white;
  z-index: 1;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.contact-us-title {
  font-family: "MADE Evolve Sans Bold";
  font-size: 2rem;
  padding-bottom: 2rem;
}

.contact-us-input-label {
  font-family: "MADE Evolve Sans Bold";
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

.contact-us-input-area {
  font-family: "MADE Evolve Sans Regular";
  display: table-cell;
  width: 90%;
  padding-left: 5px;
  height: 2rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid black;
}

.contact-us-input-message {
  text-align: left;
  font-family: "MADE Evolve Sans Regular";
  display: table-cell;
  width: 95%;
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 5px;
  height: 5rem;
  border-radius: 5px;
  resize: none;
  border: 1px solid black;
}

.contact-us-email-button {
  padding-top: 2rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "MADE Evolve Sans Bold";
  background-color: #faa712;
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  .contact-us-column {
    width: 100%;
  }
  .contact-us-container {
    background-color: white;
    z-index: 1;
    width: 85%;
    padding-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-us-title {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 0rem;
  }
  .contact-us-input-width {
    max-width: 900px;
  }
  .contact-us-input-message {
    max-width: 900px;
    width: 98%;
  }
  .contact-us-input-area {
    font-family: "MADE Evolve Sans Regular";
    display: table-cell;
    max-width: 900px;
    width: 98%;
    height: 2rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
  }
  .contact-us-email-button {
    margin-bottom: 1rem;
  }
  .contact-us-input-label {
    font-family: "MADE Evolve Sans Bold";
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .banner {
    text-align: center;
    color: white;
    font-family: "MADE Evolve Sans Bold";
    font-size: 1.85rem;
  }
  .banner {
    text-align: center;
    color: white;
    font-family: "MADE Evolve Sans Bold";
    font-size: 1.5rem;
  }
}
