.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-hero {
  height: 100%;
  width: 100%;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.logo {
  padding-top: 10rem;
  padding-left: 5rem;
}

.logo-text {
  font-size: 3rem;
  line-height: 1.125;
  padding-top: 12.5rem;
}

.hero-color {
  height: 100%;
  background-color: #ffcc00;
}

.description-hero {
  font-family: "MADE Evolve Sans Bold";
  text-align: right;
  padding-top: 63%;
  padding-right: 3rem;
  color: white;
  font-size: 1.85rem;
}

.main-row {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.main-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.main-row:after {
  content: "";
  display: table;
  clear: both;
}

.main-container {
  padding: 5% 1% 3% 2%;
}

.main-title {
  font-family: "MADE Evolve Sans Bold";
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.main-description {
  margin: auto;
  padding-right: 10%;
  font-size: 1.125rem;
  padding-bottom: 2rem;
}

.main-description-button {
  padding-top: 2rem;
}

.hero-title-bold {
  font-family: "MADE Evolve Sans Bold";
}

.second-main-row {
  padding-top: 5%;
}
.second-main-row-title {
  font-family: "MADE Evolve Sans Bold";
  text-align: center;
  font-size: 2.5rem;
}

.second-main-row-desc {
  padding: 5% 17% 5% 17%;
  text-align: center;
  font-size: 1.125rem;
}

.second-main-row-photos-column {
  float: left;
  width: 33.33%;
}

.second-main-row-photos-row {
  margin: auto;
  text-align: center;
}

/* Clear floats after the columns */
.second-main-row-photos-row:after {
  content: "";
  display: table;
  clear: both;
}

.second-main-row-photos-name {
  font-family: "MADE Evolve Sans Bold";
  font-size: 1.5rem;
}

.second-main-row-photos-css {
  padding-bottom: 2rem;
}

.third-main-row {
  padding-top: 5%;
}

.third-main-row-title {
  font-family: "MADE Evolve Sans Bold";
  text-align: center;
  font-size: 2.5rem;
}

.third-main-row-content-column {
  float: left;
}

/* Clear floats after the columns */
.third-main-row-content-row:after {
  content: "";
  display: table;
  clear: both;
}

.third-left {
  width: 40%;
}

.third-right {
  width: 60%;
}

.third-main-row-content {
  padding: 8% 5% 0% 5%;
}

.third-main-row-content-column-text {
  font-size: 1.125rem;
}

.third-main-row-content-column-text-2 {
  padding-top: 5%;
  font-family: "MADE Evolve Sans Bold";
  overflow: visible;
  font-size: 2rem;
}

.third-main-row-content-column-text-width {
  width: 75%;
}

.third-main-row-content-column-map {
  padding-left: 2rem;
  transform: translate(0%, -20%);
}
