.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-hero {
  height: 100%;
  width: 100%;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.logo {
  padding-top: 10rem;
  padding-left: 5rem;
}

.logo-text {
  font-size: 3rem;
  line-height: 1.125;
  padding-top: 12.5rem;
}

.hero-color {
  height: 100%;
  background-color: #ffcc00;
}

.description-hero {
  font-weight: bold;
  text-align: right;
  padding-top: 63%;
  padding-right: 3rem;
  color: white;
  font-size: 1.85rem;
}

.main-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.main-row:after {
  content: "";
  display: table;
  clear: both;
}

.main-container {
  padding: 5% 1% 5% 2%;
}

.main-title {
  font-weight: bold;
  padding-bottom: 2rem;
  font-size: 2rem;
}

.main-description {
  margin: auto;
  padding-right: 10%;
  font-size: 1rem;
  padding-bottom: 2rem;
}

.main-description-button {
  padding-top: 2rem;
}
