.column {
  float: left;
  width: 50%;
}

.row {
  overflow: hidden;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-hero {
  width: 100%;
}

.left {
  width: 30%;
}

.right {
  width: 50%;
}

.logo {
  display: block;
  width: 50%;
  padding-top: 10rem;
  padding-left: 5rem;
}

.logo-text {
  font-size: 4rem;
  line-height: 1.125;
  padding-left: 2rem;
  padding-top: 10rem;
}

.hero-color {
  background-color: #ffcc00;
}

.description-hero {
  font-family: "MADE Evolve Sans Bold";
  text-align: right;
  padding-top: 60%;
  padding-right: 3rem;
  color: white;
  font-size: 2rem;
}

.main-row {
  padding: 3rem;
}

.main-column-text {
  padding-left: 5%;
  width: 100%;
  text-align: justify;
}

.main-image {
  width: 100%;
}

.main-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.main-row:after {
  content: "";
  display: table;
  clear: both;
}

.main-container {
  padding: 5% 1% 3% 1%;
}

.main-title {
  font-family: "MADE Evolve Sans Bold";
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.main-description {
  margin: auto;
  width: 80%;
  padding-right: 20%;
  font-size: 1.125rem;
  padding-bottom: 2rem;
}

.main-description-button {
  padding-top: 2rem;
}

.hero-title-bold {
  font-family: "MADE Evolve Sans Bold";
}

.second-main-row {
  padding-top: 5%;
}
.second-main-row-title {
  font-family: "MADE Evolve Sans Bold";
  text-align: center;
  font-size: 2.5rem;
}

.second-main-row-desc {
  padding: 3% 17% 3% 17%;
  text-align: center;
  font-size: 1.125rem;
}

.second-main-row-photos-column {
  float: left;
  width: 33.33%;
}

.second-main-row-photos-row {
  margin: auto;
  text-align: center;
}

/* Clear floats after the columns */
.second-main-row-photos-row:after {
  content: "";
  display: table;
  clear: both;
}

.second-main-row-photos-name {
  font-family: "MADE Evolve Sans Bold";
  font-size: 1.5rem;
}

.second-main-row-photos-css {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.third-main-row {
  padding-top: 8%;
}

.third-main-row-title {
  font-family: "MADE Evolve Sans Bold";
  text-align: center;
  font-size: 2.5rem;
}

.third-main-row-content-column {
  float: left;
}

/* Clear floats after the columns */
.third-main-row-content-row:after {
  content: "";
  display: table;
  clear: both;
}

.third-left {
  width: 50%;
}

.third-right {
  width: 50%;
  float: right;
}

.third-main-row-content {
  margin: auto;
  padding: 5% 5% 0% 5%;
}

.third-main-row-content-column-text {
  font-size: 1.125rem;
}

.third-main-row-content-column-text-2 {
  padding-top: 5%;
  font-family: "MADE Evolve Sans Bold";
  overflow: visible;
  font-size: 2rem;
  width: 100%;
}

.third-main-row-content-column-text-width {
  width: 75%;
}

.third-main-row-content-column-map {
  padding-left: 5%;
  padding-right: 2rem;
  padding-top: 2.5rem;
  transform: translate(-25%, -20%);
}

@media screen and (max-width: 960px) {
  .main-column {
    width: 100%;
    margin: auto;
  }
  .second-main-row-photos-column {
    width: 100%;
  }
  .third-main-row-content-column {
    width: 100%;
  }
  .main-title {
    text-align: center;
  }
  .main-description {
    padding-left: 5%;
    text-align: justify;
  }
  .left {
    height: 10%;
  }
  .right {
    width: 50%;
    height: 1%;
  }
  .column {
    height: 50%;
    width: 100%;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 5%;
    padding-left: 0rem;
  }
  .logo-text {
    width: 100%;
    padding-top: 5%;
    height: 10%;
    padding-left: 0rem;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5%;
  }
  .description-hero {
    width: 100%;
    padding-right: 0rem;
    padding-bottom: 5%;
    font-size: 1.5rem;
    text-align: center;
  }
  .main-column-text {
    padding-left: 0%;
    width: 100%;
    text-align: justify;
  }
  .second-main-row-title {
    font-family: "MADE Evolve Sans Bold";
    text-align: center;
    font-size: 2rem;
  }
  .main-title {
    text-align: center;
    font-size: 2rem;
    padding-top: 5%;
    text-align: center;
  }
  .main-description {
    margin: auto;
    width: 90%;
    font-size: 1.125rem;
    padding-bottom: 2rem;
  }
  .second-main-row-desc {
    padding: 5% 0% 5% 15%;
    width: 70%;
    text-align: justify;
    font-size: 1.125rem;
  }
  .third-main-row-content-column-map {
    padding-top: 0rem;
    margin: auto;
    width: 85%;
    padding: 1%;
    transform: translate(0%, 0%);
  }
  .third-main-row-title {
    text-align: center;
    padding-top: 2.5%;
    font-size: 2rem;
  }
  .third-main-row-content-column-text-width {
    text-align: justify;
    width: 100%;
  }
  .third-right {
    width: 100%;
  }
  .third-main-row-content-column-text {
    margin: auto;
    width: 80%;
    padding: 5% 0% 5% 0%;
  }
  .third-main-row-content-column-text-2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .third-main-row-content-map-img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .second-main-row-photos-name {
    padding: 5% 3%;
  }
  .main-description-button {
    padding-top: 5%;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .second-main-row-photos {
    width: 100%;
  }
}
