.navbar {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.logo-navbar {
  vertical-align: auto;
  padding-left: 2rem;
  max-width: 60px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: black;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  flex-grow: 1;
}

.nav-column {
  float: left;
  width: 12%;
}

/* Clear floats after the columns */
.nav-row:after {
  content: "";
  display: table;
  clear: both;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-logo-text {
  padding-left: 10px;
  padding-top: 10px;
  vertical-align: auto;
  line-height: 1.125;
  font-size: 1.2rem;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 1rem 2.5rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin: 0.25rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item .active {
  color: black;
  border: 1px solid #ffdd40;
}

.nav-icon {
  display: none;
}

.nav-bold-title {
  font-family: "MADE Evolve Sans Bold";
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    height: 129vh;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    padding: 0rem 0rem;
    margin: 0.1rem 0rem;
    color: #ffdd40;
    border: none;
  }
  .nav-item {
    padding: 1.5rem 0rem;
    margin: 0.1rem 0rem;
    border: none;
  }

  .nav-links {
    padding: 0.5rem 0rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
  .nav-logo-text {
    padding-left: 1rem;
  }
  .nav-column {
    float: left;
    width: 15%;
  }
  .logo-navbar {
    vertical-align: auto;
    padding-left: 0rem;
    max-width: 60px;
  }
}
