.footer-container {
  padding: 5rem 5rem 0 5rem;
  background-color: #ffcc00;
  height: 10rem;
}

.footer-column-outer {
  float: left;
  width: 50%;
}

.footer-row-outer {
  z-index: 1;
  width: 100%;
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
}
.footer-column-right {
  padding-left: 10;
}
.footer-row-outer:after {
  content: "";
  display: table;
  clear: both;
}

.footer-logo-title {
  padding-top: 1rem;
  line-height: 1.125;
  font-size: 2rem;
}

.footer-column {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

.rights {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 1.125rem;
}

.footer-logo-title-bold {
  font-family: "MADE Evolve Sans Bold";
}

.footer-logo-col-name {
  font-family: "MADE Evolve sans Bold";
}

.footer-contacts {
  font-size: 1.125rem;
}

@media screen and (max-width: 600px) {
  .footer-container {
    padding: 2.5rem 5rem 0 5rem;
    background-color: #ffcc00;
    height: 100%;
  }
  .footer-column {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .footer-column-outer {
    width: 100%;
    text-align: center;
  }
  .footer-logo-col-name {
    padding-top: 2rem;
    font-family: "MADE Evolve sans Bold";
    font-size: 1.25rem;
  }
  .footer-logo-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.125;
    font-size: 1.5rem;
  }
  .footer-contacts {
    font-size: 1.25rem;
    padding-bottom: 5%;
  }
  .rights {
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 10px;
    font-size: 1rem;
  }
}
