.footer-container {
  padding: 5rem 5rem 0 5rem;
  background-color: #ffcc00;
  height: 10rem;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-logo-title {
  padding-top: 1.25rem;
  line-height: 1.125;
  font-size: 1.5rem;
}

.footer-column {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

.rights {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
